<%- include ("partials/header.ejs") %>
    <div class="container">
        <div class="text-center my-5">
            <h1>Welcome to our Website</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos iure, voluptate, libero tempore
                repudiandae facere harum voluptatum minus odio cum, repellendus explicabo hic itaque distinctio fuga omnis
                amet corporis.
                </p><br>
            </div>

            <h3 class="text-center">Search for Photos</h3>

        <form action="/Views/search" method="GET">
            <div class="input-group">
                <input type="search" class="form-control rounded mx-2" name="searchterm" placeholder="Photo Search"
                    aria-label="Search" aria-describedby="search-addon" />
                <input type="text" class="form-control mx-2" id="inputPassword2" name="pagenumber" placeholder="Ex : Pg 2">
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>
    </div>
    <%- include ("partials/footer.ejs") %>