<%- include ("partials/header.ejs") %> 
<div class="container">
    <h1>Welcome to our Website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos iure, voluptate, libero tempore repudiandae facere harum voluptatum minus odio cum, repellendus explicabo hic itaque distinctio fuga omnis amet corporis.
    Unde recusandae laudantium illum hic odit quas impedit esse architecto quasi maiores illo perferendis, debitis necessitatibus accusamus mollitia eligendi tempora delectus? Fugiat nesciunt commodi distinctio doloremque unde cupiditate ipsam. Cupiditate.
    Dolore voluptates optio error reprehenderit quasi nobis eos velit sequi? Inventore excepturi molestiae porro magnam error accusantium. Sit fuga neque suscipit sunt accusantium omnis odit quam unde eaque, beatae soluta?</p>
</div>
<%- include ("partials/footer.ejs") %> 